@*<BlazorWasmApp>Blazor WASM app loading...</BlazorWasmApp>*@
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

<div id="app">
    Blazor WASM app loading... asdasd
</div>
<base href="/" />
<script src="//localhost:44333/_framework/blazor.webassembly.js"></script>
<script src="//localhost:44333/_content/MudBlazor/MudBlazor.min.js"></script>